/* Include your CSS rules here */

body, html{
	margin:0;
	padding:0;
}

#mixer{
	width:100%;
	position:relative;
	overflow-x:scroll;
	overflow-y:hidden; 
}

#mixer .track{
	width:200%;
	height:6em;
}

#mixer .track.one{
	background:blue;
}

#mixer .track.two{
	background:red;
}

#mixer .track.three{
	background:green;
}

#mixer .song{
	left:0px;
	top:0px;
	height:6em;
	width:234px;
	background:pink;
	position:absolute;
	-webkit-transition: all .1s;
	-moz-transition: all .1s;
	-ms-transition: all .1s;
	-o-transition: all .1s;
	transition: all .1s;
}
#mixer .song:nth-child(0){
	top:0em;
}
#mixer .song:nth-child(2){
	top:6em;
}
#mixer .song:nth-child(3){
	top:12em;
}
#mixer .song:nth-child(4){
	top:6em;
}
#mixer .song:nth-child(5){
	top:0em;
}
#mixer .song:nth-child(6){
	top:6em;
}
#mixer .song:nth-child(7){
	top:12em;
}
#mixer .song:nth-child(8){
	top:6em;
}
#mixer .song:nth-child(9){
	top:0em;
}
#mixer .song:nth-child(10){
	top:6em;
}
#mixer .song:nth-child(11){
	top:12em;
}
#mixer .song:nth-child(12){
	top:6em;
}