/* Include your CSS rules here */

body, html{
	margin:0;
	padding:0;
}

#mixer{
	position:relative;
}

#mixer .track{
	width:100%;
	height:3em;
}

#mixer .track.one{
	background:blue;
}

#mixer .track.two{
	background:red;
}

#mixer .track.three{
	background:green;
}

#mixer .song{
	height:3em;
	width:234px;
	background:pink;
	position:absolute;
	-webkit-transition: top .3s;
	-moz-transition: top .3s;
	-ms-transition: top .3s;
	-o-transition: top .3s;
	transition: top .3s;
}